body {
    margin: 0;
    background-color: black;
}

.App {
    align-items: center;
    text-align: center;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: black;
    
   
    

     font-size: 1.5rem;
    
}
.title {
    color: rgb(247, 245, 245);
}
.quote-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid yellow;
    width: 50%;
    height: 30vh;
    margin-top: 10rem;
    margin-left: 28rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
    padding: 2rem;
}

.get-quote {
       
  width:200px;

  height:40px;

  background-color: #f00606 !important;

  color: white !important;

  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

  border-radius: 5px !important;
  margin-bottom: 5px;

}
.get-quote:hover {
    transform: scale(1.1);
   
}