body {
    margin: 0;
    background-color: black;
}

.App {
    align-items: center;
    text-align: center;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: black;
    
   
    

     font-size: 1.5rem;
    
}
.title {
    color: rgb(247, 245, 245);
}
.quote-wrapper {
    display: flex;
     flex-direction: column;
    justify-content: flex-start;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    border: 2px solid #272829;
    box-shadow: inset 2px 2px 40px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    margin-left: 30rem;
    margin-bottom: 2rem;
    margin-top: 9rem;
    width: 40%;
    height: min-content;
    padding-left: 4rem;
    padding: 4rem;
    color: white;
}

.get-quote {
       
  width:200px;

  height:40px;

  background-color: #f00606 !important;

  color: white !important;

  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

  border-radius: 5px !important;
  margin-bottom: 5px;

}
.get-quote:hover {
    transform: scale(1.1);
   
}